.hub {
    width: 1200px;
    height: 500px;
    background-color: #d9fff8;
    border: black solid 1px;
    color: black;
}

.divmaker {
    width: 800px;
    height: 400px;
    display: inline-block;
    margin-top: 20px;
    background-color: #fcffec;
    color: black;
}