.hub {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #ebfff0;
    border: black solid 1px;
}

.divmaker {
    width: 200px;
    height: 600px;
    float: left;
    margin-left: 20px;
    background-color: #ebfff0;
}